@model string;


<div class="text-white" style="position: fixed; right: 25px; bottom: 25px">
    <a asp-controller="@Model" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle">Add New</i>
    </a>
</div>